@import "variables";

@import "components/project-slider";
@import "components/page-loader";

@import "pages/home";

body, html {
    height: 100%;
    // background: #333;
}

nav {
    z-index: 100;
}

body {
    background: url(https://i.imgur.com/4NSfHq3.jpg);
    background-size: cover;
    background-position: 50%;
}