@import "../variables";

.project-swiper-container {

    // max-width: 1400px;
    height: calc(100% - 100px - 20px);

    &.hidden {
        visibility: hidden;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
}